* {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

#contents {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

textarea {
    height: 200px;
    width: 700px;
}

button {
    height: 32px;
    width: 700px;
}